<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <title>Women Rider</title>
  
  <link rel="stylesheet" media="screen" type="text/css" href="assets/symphony.css?7sZEx0" />
  <link rel="stylesheet" media="screen" type="text/css" href="assets/style.css?7sZEx0" />

  <style>
    /* Modal container (hidden by default) */
    .modal {
      display: none;
      /* Hidden by default */
      position: fixed;
      /* Stay in place */
      z-index: 1;
      /* Sit on top */
      left: 0;
      top: 0;
      width: 100%;
      /* Full width */
      height: 100%;
      /* Full height */

      z-index: 100;
      overflow: auto;
      /* Enable scroll if needed */
      background-color: rgba(0, 0, 0, 0.5);
      /* Black background with opacity */
    }

    /* Modal content box */
    .modal-content {
      background-color: white;
      margin: 15% auto;
      /* 15% from the top and centered */
      padding: 20px;
      border: 1px solid #888;
      width: 80%;
      /* Could be more or less, depending on screen size */
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border-radius: 10px;
    }

    /* Close button */
    #close {
      color: #000000;
      float: right;
      font-size: 28px;
      font-weight: bold;
      cursor: pointer;
      border: none;
      outline: none;
      background: none;
    }

    #close:hover,
    #close:focus {
      color: black;
      text-decoration: none;
    }
  </style>


  <script src="assets/js/jquery-3.7.0.min.js"></script>


    </script> -->
  <script defer="" src="cscripts/zOFiUsLsWH-af8ecf90.js"></script>
  <meta name="facebook-domain-verification" content="amxivrty21k2ceu4q4or5mydf9my1m" />
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        "gtm.start": new Date().getTime(),
        event: "gtm.js",
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != "dataLayer" ? "&l=" + l : "";
      j.async = true;
      j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, "script", "dataLayer", "GTM-WGPL6599");
  </script>

 
  <script>
    var responsive = true;
  </script>
  <script type="text/javascript">
    const TEMPLATE_PAGE = "OPTIONS_SCHEDULE-DEMO";
    if (history.scrollRestoration) history.scrollRestoration = "manual";

    const TB_CONFIG_SITE_JS = {
      IS_MOBILE: 0,
    };
  </script>
</head>

<body id="schedule-demo" class="schedule-demo">
  <div id="start-content">
    <a href="#content" class="skip-to-content" aria-label="Skip to Content">Skip to Content</a>
    <div id="cursor_2093" class="drag-cursor" data-js-cursor="x">
      <div id="cursor_2093y" class="drag-cursor-inner" data-js-cursor="y">
        <img src="venuelocity/media/drag-cursor-icon-640643d7a62be.svg" alt="Icon drag cursor"
          class="drag-cursor-image">
      </div>
    </div>


      
       
    <div id="header-placeholder"></div>

  <main id="content">
    <section class="top-schedule-demo">


      <div id="myModal" class="modal">
        <div class="modal-content">
          <button id="close" onclick="closeModal()">&times;</button>
          <h2 id="modalHead">.</h2>
          <p id="modalpara">.</p> 
        </div>
      </div>

      <div class="container">
        <div class="top-schedule-demo-content">
          <div class="top-schedule-demo-form">
            <div class="top-schedule-demo-form--text">
              <!-- <h1 class="top-schedule-demo-text--title animate-fade d-400">
                <span> 
                  
                  contact <br> us
                
                </span>
              </h1> -->


              <img src="/assets/ourimages/contact-woman-removebg-preview.png" alt="">
            </div>

            <div class="top-schedule-demo-form--wrapper">
              <div class="top-schedule-demo-form-module animate-fade right d-300">
                <section id="scheduleademorfp-form" class="form-module-wrapper null">
                  <!-- action="http://womenrapido.nuhvin.com" -->
                  <!-- <button id="openModalBtn">Open Modal</button> -->
                  <!-- method="POST" -->
                  <form id="form_id-2260" class="form-module">
                    <div class="form-module__field email col-12 field_2260_2">
                      <label for="id_1_2260" class="">name *</label><input id="id_1_2260" name="name" type="text"
                        value="" class="required" />
                    </div>
                    <div class="form-module__field email col-12 field_2260_2">
                      <label for="id_2_2260" class="">email *</label><input id="id_2_2260" name="email" type="email"
                        value="" class="required" />
                    </div>
                    <div class="form-module__field input col-12 field_2260_3">
                      <label for="id_3_2260" class="">phone *</label><input id="id_3_2260" name="mobile" type="text"
                        value="" class="required" />
                    </div>
                    <div class="form-module__field input col-12 field_2260_3">
                      <label for="id_3_2260" class="">subject *</label><input id="id_3_2260" name="subject" type="text"
                        value="" class="required" />
                    </div>

                    <div class="form-module__field col-12 field_2260_6">
                      <label for="id_6_2260" class="">message </label><textarea id="id_6_2260" name="message" class=""
                        aria-labelledby="id_6_2260"></textarea>
                    </div>

                    <div class="form-module__submit">
                      <button onclick="handleSubmit(event)"  class="btn null" type="button">
                        <span>submit</span>
                      </button>
                    </div>
                  </form>







                  <script>


                    // Get modal element
                    const modal = document.getElementById("myModal");

                    // Get open modal button
                    const openModalBtn = document.getElementById("openModalBtn");

                    // Get close button
                    const closeBtn = document.getElementById("close");

                    // Listen for open click
                    openModalBtn.addEventListener("click", () => {
                      modal.style.display = "block";
                    });

                    // Listen for close click
                    closeBtn.addEventListener("click", () => {
                      modal.style.display = "none";
                    });
                    
                    function closeModal(){
                      modal.style.display = "none";

                    }

                    // Listen for outside click
                    window.addEventListener("click", (event) => {
                      if (event.target == modal) {
                        modal.style.display = "none";
                      }
                    });



                    function handleSubmit(event) {
                      event.preventDefault(); // Prevent the form from submitting the traditional way

                      const form = document.getElementById('form_id-2260');
                      const formData = new FormData(form);

                      // Convert FormData to a JSON object
                      const data = {};
                      formData.forEach((value, key) => {
                        data[key] = value;
                      });

                      // Send the form data to the backend
                      sendToBackend(data);
                    }

                    async function sendToBackend(data) {
                      console.log(data);

                      const strData = JSON.stringify(data);

                      const sendData = await fetch('https://womenrapido.nuhvin.com/contact', {
                        method: "POST",
                        headers: {
                          "Content-Type": "application/json" // Set the correct content type
                        },
                        body: strData
                      });

                      let res = await sendData.json();
                      console.log(res);

                      if (res.error || res.err) {
                        modal.style.display = "block";
                        document.getElementById('modalHead').innerHTML = "sorry"
                        document.getElementById('modalpara').innerHTML = "something went wrong please try again later"
                      }

                      if (res.message) {
                        modal.style.display = "block";
                         document.getElementById('modalHead').innerHTML = "thank you"
                         document.getElementById('modalpara').innerHTML = "your message safely landed in our inbox"
                      
                      
                      }
                    }
                  </script>


                </section>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>


       
  <div id="footer-placeholder"></div>

  <script src="/load-dom.js"></script>
  
  <script src="https://kit.fontawesome.com/f0b97481ed.js" crossorigin="anonymous"></script>  


  </div>
  </div>
  <!-- CLOSE START CONTENT -->
  <!-- <script>
        function submitSalesForce(data) {
            var first_name = $("input[name=first_name]").val(),
                last_name = $("input[name=last_name]").val(),
                email_address = $("input[name=email_address]").val(),
                phone = $("input[name=phone]").val(),
                company = $("input[name=company]").val(),
                position_title = $("input[name=position_title]").val(),
                comments = $("textarea[name=comments]").val(),
                campaign_id = '7015d000002GYP6',
                campaign = '';


            data = {
                "debug": 1,
                "debugEmail": 'forms@tambourine.com',
                "operation": 'salesForceLeads',
                "oid": "00Di0000000JTQg",
                "retURL": "https://www.venuelocity.com",
                "email": typeof email_address !== 'undefined' ? email_address : '',
                "first_name": typeof first_name !== 'undefined' ? first_name : '',
                "last_name": typeof last_name !== 'undefined' ? last_name : '',
                "company": typeof company !== 'undefined' ? company : '',
                "phone": typeof phone !== 'undefined' ? phone : '',
                "description": campaign,
                "00N1Y00000IyjTe": comments,
                "lead_source": "Inbound (Marketing)",
                "title": typeof position_title !== 'undefined' ? position_title : '',
                "Campaign_ID": campaign_id,
                "00N1Y00000Iz3uv": window.location.href, //Landing Page
                "00N1Y00000Iz5AL": "", //Referral
            };
            $.post(site_url + 'ajax/functions.php', data, function (response) { }, 'json')
        }
    </script> -->

  <script src="assets/symphony.js?7sZEx0" type="text/javascript"></script>

  <script src="assets/scripts.js?7sZEx0" type="text/javascript"></script>

  <!-- FLASHSALE BEGIN--><!-- FLASHSALE END-->

  <noscript><iframe title="iframe_GTM" src="https://www.googletagmanager.com/ns.html?id=GTM-WGPL6599" height="0"
      width="0" style="display: none; visibility: hidden"></iframe></noscript>

  <script src="ajax/libs/vue/2.6.14/vue.min.js"></script>
  <script src="includes/symphony-components/js/v-popups.min-5.js?v2=66b9bdf36e87b" async=""></script>
  <v-popups is_live="true" brand="venuelocity" trackingtype="1" site_id="2093" site_lang="en" is_mobile=""
    filters='{"page":"schedule-demo","id_page":78180,"subpage":null,"location":"schedule-demo","geo":null}'></v-popups>
</body>

</html>