<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head><title>Women Rider</title>
  <link rel="stylesheet" media="screen" type="text/css" href="assets/symphony.css?7sZEx0">
  <link rel="stylesheet" media="screen" type="text/css" href="assets/style.css?7sZEx0">
  <script src="assets/js/jquery-3.7.0.min.js"></script>



  <!-- <script class="optanon-category-C0003">
    async function supportsWebp() { if (!self.createImageBitmap) return !1; const e = await fetch("data:image/webp;base64,UklGRh4AAABXRUJQVlA4TBEAAAAvAAAAAAfQ//73v/+BiOh/AAA=").then((e => e.blob())); return createImageBitmap(e).then((() => !0), (() => !1)) } function setCookie(e, t, a) { let A = new Date; A.setDate(A.getDate() + a); let n = escape(t) + (null == a ? "" : "; expires=" + A.toUTCString()); document.cookie = e + "=" + n } (async () => { null === new URLSearchParams(document.cookie.replaceAll("&", "%26").replaceAll("; ", "&")).get("ACCEPT_WEBP") && setCookie("ACCEPT_WEBP", await supportsWebp(), 30) })();
  </script>
  <script>var responsive = true;</script>
  <script type="text/javascript">
    const TEMPLATE_PAGE = 'OPTIONS_DEFAULT';
    if (history.scrollRestoration) history.scrollRestoration = 'manual'

    const TB_CONFIG_SITE_JS = {
      IS_MOBILE: 0,
    }
  </script> -->

  <style>
    @media (width < 768px) {
        .bottom{
          margin: 1rem !important;
        }
    }
  </style>
</head>


<body >
  <div id="start-content">
    <a href="#content" class="skip-to-content" aria-label="Skip to Content">Skip to Content</a>
    <div id="cursor_2093" class="drag-cursor" data-js-cursor="x">
      <div id="cursor_2093y" class="drag-cursor-inner" data-js-cursor="y">
        <img src="venuelocity/media/drag-cursor-icon-640643d7a62be.svg" alt="Icon drag cursor"
          class="drag-cursor-image">
      </div>
    </div>
        
    
  <div id="header-placeholder"></div>

    <main id="content" role="main">
    


      <section class="intro-default">
        <div class="container">

          <article class="intro-default-content">
            <aside class="intro-default-text">
              <h1 class="intro-default-text--title animate-fade d-400">want to know more ?


              <div class="intro-default-text--copy animate-fade d-600">
                <!-- <p>Get in front of more planners while they shop<br>for hotel venues exactly like yours.</p> -->
                <p><scribe-shadow id="crxjs-ext"
                    style="position: fixed; width: 0px; height: 0px; top: 0px; left: 0px; z-index: 2147483647; overflow: visible;"></scribe-shadow>
                </p>
              </div>
            </aside>
          </article>




          

        </div>
      </section>

     <section>


      <div class="bottom" style="gap: 2rem; display: flex; align-items: start; flex-direction: column; justify-content: center; width: 30rem; margin: auto; margin-bottom: 2rem;">
        
        <div style="display: flex; align-items: center;justify-content: start;gap: 1rem; ">
          <div class="img-contact" >
            <img src="/assets/ourimages/question-mark-pink-line-circle-symbol-material-property-logo-magenta-png-clipart-removebg-preview.png" alt="Question" style="height:3rem; width:3rem;">
          </div>
         <p> try our <a href="/faq">faq</a> page</p>
       </div>


        <div style="display: flex; align-items: center;justify-content: start;gap: 1rem; ;">
          <div class="img-contact" >
            <img src="/assets/ourimages/email.png" alt="Question" style="height:3rem; width:3rem;">
          </div>
         <p>  <a href="/email">email</a> us</p>
       </div>

        <div style="display: flex; align-items: center;justify-content: start;gap: 1rem; ">
          <div class="img-contact" >
            <img src="/assets/ourimages/contactus-logo.png" alt="Question" style="height:3rem; width:3rem;">
          </div>
         <p>complete our  <a href="/contactform">contact</a> form</p>
       </div>










       
      </div>

     </section>



    </main>

        
  <div id="footer-placeholder"></div>
  <script src="/load-dom.js"></script>
  
<script src="https://kit.fontawesome.com/f0b97481ed.js" crossorigin="anonymous"></script>
  
  
    <script src="assets/symphony.js?7sZEx0" type="text/javascript"></script>




  <script src="assets/scripts.js?7sZEx0" type="text/javascript"></script>

  <!-- FLASHSALE BEGIN--><!-- FLASHSALE END-->

  <noscript><iframe title="iframe_GTM" src="https://www.googletagmanager.com/ns.html?id=GTM-WGPL6599" height="0"
      width="0" style="display:none;visibility:hidden"></iframe></noscript>


  <script src="ajax/libs/vue/2.6.14/vue.min.js"></script>
  <script src="includes/symphony-components/js/v-popups.min-3.js?v2=66b9bdf0c5d7d" async=""></script>
  <v-popups is_live="true" brand="venuelocity" trackingtype="1" site_id="2093" site_lang="en" is_mobile=""
    filters='{"page":"wedding-lead-generation-for-hotels-and-resorts","id_page":78176,"subpage":null,"location":"default","geo":null}'></v-popups>


 

</body>

</html>