<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <title>Women Rider</title>
  
  <link rel="canonical" href="privacy-policy.html">


  <link rel="stylesheet" media="screen" type="text/css" href="assets/symphony.css?7sZEx0">
  <link rel="stylesheet" media="screen" type="text/css" href="assets/style.css?7sZEx0">
  <script src="assets/js/jquery-3.7.0.min.js"></script>


  <script defer="" src='cscripts/zOFiUsLsWH-af8ecf90.js'></script>
  <meta name="facebook-domain-verification" content="amxivrty21k2ceu4q4or5mydf9my1m">
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-WGPL6599');</script>

  <script class="optanon-category-C0003">
    async function supportsWebp() { if (!self.createImageBitmap) return !1; const e = await fetch("data:image/webp;base64,UklGRh4AAABXRUJQVlA4TBEAAAAvAAAAAAfQ//73v/+BiOh/AAA=").then((e => e.blob())); return createImageBitmap(e).then((() => !0), (() => !1)) } function setCookie(e, t, a) { let A = new Date; A.setDate(A.getDate() + a); let n = escape(t) + (null == a ? "" : "; expires=" + A.toUTCString()); document.cookie = e + "=" + n } (async () => { null === new URLSearchParams(document.cookie.replaceAll("&", "%26").replaceAll("; ", "&")).get("ACCEPT_WEBP") && setCookie("ACCEPT_WEBP", await supportsWebp(), 30) })();
  </script>
  <script>var responsive = true;</script>
  <script type="text/javascript">
    const TEMPLATE_PAGE = 'OPTIONS_DEFAULT';
    if (history.scrollRestoration) history.scrollRestoration = 'manual'

    const TB_CONFIG_SITE_JS = {
      IS_MOBILE: 0,
    }
  </script>
</head>

<body id="default" class="privacy-policy  ">
  <div id="start-content">
    <a href="#content" class="skip-to-content" aria-label="Skip to Content">Skip to Content</a>
    <div id="cursor_2093" class="drag-cursor" data-js-cursor="x">
      <div id="cursor_2093y" class="drag-cursor-inner" data-js-cursor="y">
        <img src="venuelocity/media/drag-cursor-icon-640643d7a62be.svg" alt="Icon drag cursor"
          class="drag-cursor-image">
      </div>
    </div>

      
    <div id="header-placeholder"></div>
 



    <main id="content" role="main">


      <section class="intro-default">
        <div class="container">

          <article class="intro-default-content">
            <aside class="intro-default-text">
              <h1 class="intro-default-text--title animate-fade d-400">email us</h1>

            </aside>
          </article>

        </div>
      </section>

      <section style="" class="text-modules-wrapper">
        <div class="text-modules ">
          <p></p>
          <h3>customer support</h3>
          <p>for assistance with any inquiries or support needs, please contact our team at <br> <a href="mailto:passengersupport@womenrider.com">passengersupport@womenrider.com</a>. we are available monday to friday from 9 am to 5 pm local time.</p>
          
          <h3>media & partnerships</h3>
          <p>for media relations, public relations, or partnership opportunities, please reach out to us at <br> <a href="mailto:marketing@womenrider.com">marketing@womenrider.com</a>. we look forward to collaborating and discussing potential opportunities.</p>
          
        </div>
      </section>
    </main>






       
    <div id="footer-placeholder"></div>

    <script src="/load-dom.js"></script>
    
    <script src="https://kit.fontawesome.com/f0b97481ed.js" crossorigin="anonymous"></script>  

  </div> 






  </div> <!-- CLOSE START CONTENT -->
  

  <script src="assets/symphony.js?7sZEx0" type="text/javascript"></script>




  <script src="assets/scripts.js?7sZEx0" type="text/javascript"></script>

  <!-- FLASHSALE BEGIN--><!-- FLASHSALE END-->

  <noscript><iframe title="iframe_GTM" src="https://www.googletagmanager.com/ns.html?id=GTM-WGPL6599" height="0"
      width="0" style="display:none;visibility:hidden"></iframe></noscript>


  <script src="ajax/libs/vue/2.6.14/vue.min.js"></script>
  <script src="includes/symphony-components/js/v-popups.min-6.js?v2=66b9bdf6d2e38" async=""></script>
  <v-popups is_live="true" brand="venuelocity" trackingtype="1" site_id="2093" site_lang="en" is_mobile=""
    filters='{"page":"privacy-policy","id_page":78182,"subpage":null,"location":"default","geo":null}'></v-popups>




</body>

</html>