

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <!-- <title>Increase Meeting RFPs | Venuelocity For Hotels & Resorts</title> -->
  <title>Women Rider</title>
 
  <link rel="stylesheet" media="screen" type="text/css" href="assets/symphony.css?7sZEx0">
  <link rel="stylesheet" media="screen" type="text/css" href="assets/style.css?7sZEx0">
  <script src="assets/js/jquery-3.7.0.min.js"></script>



  <meta name="facebook-domain-verification" content="amxivrty21k2ceu4q4or5mydf9my1m">
  
   <script defer="" src='cscripts/zOFiUsLsWH-af8ecf90.js'></script>
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-WGPL6599');</script>

  <script class="optanon-category-C0003">
    async function supportsWebp() { if (!self.createImageBitmap) return !1; const e = await fetch("data:image/webp;base64,UklGRh4AAABXRUJQVlA4TBEAAAAvAAAAAAfQ//73v/+BiOh/AAA=").then((e => e.blob())); return createImageBitmap(e).then((() => !0), (() => !1)) } function setCookie(e, t, a) { let A = new Date; A.setDate(A.getDate() + a); let n = escape(t) + (null == a ? "" : "; expires=" + A.toUTCString()); document.cookie = e + "=" + n } (async () => { null === new URLSearchParams(document.cookie.replaceAll("&", "%26").replaceAll("; ", "&")).get("ACCEPT_WEBP") && setCookie("ACCEPT_WEBP", await supportsWebp(), 30) })();
  </script>
  <script>var responsive = true;</script>
  <script type="text/javascript">
    const TEMPLATE_PAGE = 'OPTIONS_DEFAULT';
    if (history.scrollRestoration) history.scrollRestoration = 'manual'

    const TB_CONFIG_SITE_JS = {
      IS_MOBILE: 0,
    }
  </script>


<style>
  .slide-img{
    height: 40rem;
  }

  @media (width < 768px) {
    .slide-img{
    height: 25rem;
  }
  }
</style>
</head>

<body >
  
  <div id="start-content">
    <a href="#content" class="skip-to-content" aria-label="Skip to Content">Skip to Content</a>
    <div id="cursor_2093" class="drag-cursor" data-js-cursor="x">
      <div id="cursor_2093y" class="drag-cursor-inner" data-js-cursor="y">
        <img src="venuelocity/media/drag-cursor-icon-640643d7a62be.svg" alt="Icon drag cursor"
          class="drag-cursor-image">
      </div>
    </div>
  
      
    <div id="header-placeholder"></div>
    <main id="content" role="main">
      <section class="top-default">
        <div class="container">
          <div class="top-default-content">
            <div class="top-default-pictures animate-fade">
              <figure class="top-default-figure">
                <img class="top-default-figure--image animate-fade d-400"
                  src="/assets/ourimages/women-empower-banner.png"
                  alt="Woman smiling while speaking at a meeting" loading="lazy">
              </figure>

              <div class="top-default-icon animate-fade right d-800">
                
                
              </div>
            </div>
          </div>
        </div>
      </section>


      <section class="intro-default">
        <div class="container">

          <article class="intro-default-content">
            <aside class="intro-default-text">
              <h1 class="intro-default-text--title animate-fade d-400"><span>connect with a network exclusively for
                  women.</span></h1>

              <div class="intro-default-text--copy animate-fade d-600">
                <p>engage with a community where both captains and passengers are female, creating a unique and
                  supportive environment.</p>
              </div>
            </aside>
          </article>

        </div>
      </section>

      <section class="bl-solution-network" id="_jteapyrps" data-quad="quad_jteapyrps">
        <div class="container">
          <div class="bl-solution-network-content">
            <div class="bl-solution-network-solutions">
              <div class="bl-solution-network-solutions--overlay"> <img class="bl-solution-network-solutions--bg"
                  src="venuelocity/media/graphic-63f3d1165e7b4.png" alt="graphic"> </div>
              <div class="bl-solution-network-solutions--wrapper">
                <div class="bl-solution-network-solution animate-fade solution-content solution--550915">
                  <div class="solution-content--wrapper animate-fade bottom d-200"> 
                    <img src="/assets/ourimages/women-empower.png"
                      alt="Couple playing with their child together"> </div>
                  <div class="solution-content--label animate-fade bottom d-200">empowerment</div>
                </div>
                <div class="bl-solution-network-solution animate-fade solution-content solution--550914">
                  <div class="solution-content--wrapper animate-fade bottom d-300"> <img
                      src="/assets/ourimages/trailblazing-logo4.png"
                      alt="Woman giving a presentation at meeting table"
                      style="height: 3000px !important;"> 
                    
                  </div>
                  <div class="solution-content--label animate-fade bottom d-300">trailblazing</div>
                </div>
                <div class="bl-solution-network-solution animate-fade solution-content solution--550911">
                  <div class="solution-content--wrapper animate-fade bottom d-400"> <img
                      src="/assets/ourimages/elegance-2.png"
                      alt="Woman giving presentation on a board"> </div>
                  <div class="solution-content--label animate-fade bottom d-400">elegance</div>
                </div>
                <div class="bl-solution-network-solution animate-fade solution-content solution--550910">
                  <div class="solution-content--wrapper animate-fade bottom d-500"> <img
                      src="/assets/ourimages/woman-leadership.png" alt="Friends playing golf together">
                  </div>
                  <div class="solution-content--label animate-fade bottom d-500">leadership</div>
                </div>
                <div class="bl-solution-network-solution animate-fade solution-content solution--550913">
                  <div class="solution-content--wrapper animate-fade bottom d-600"> <img
                      src="/assets/ourimages/women-innovation.png"
                      alt="Man reading religious book to woman"> </div>
                  <div class="solution-content--label animate-fade bottom d-600">innovation</div>
                </div>
                <div class="bl-solution-network-solution animate-fade solution-content solution--550916">
                  <div class="solution-content--wrapper animate-fade bottom d-700"> <img
                      src="/assets/ourimages/womenrider copy.png" alt="Logo">
                  </div>
                  <div class="solution-content--label animate-fade bottom d-700">advocacy</div>
                </div>
                <div class="bl-solution-network-solution animate-fade solution-content solution--550912">
                  <div class="solution-content--wrapper animate-fade bottom d-800"> <img
                      src="/assets/ourimages/women-network.png"
                      alt="People shaking hands in agreement"> </div>
                  <div class="solution-content--label animate-fade bottom d-800">networking</div>
                </div>
                <div class="bl-solution-network-solution animate-fade solution-content solution--550909">
                  <div class="solution-content--wrapper animate-fade bottom d-900"> <img
                      src="/assets/ourimages/Women-Inspiration.png"
                      alt="Man with a backpack and woman with a laptop"> </div>
                  <div class="solution-content--label animate-fade bottom d-900">inspiration</div>
                </div>
                <div class="bl-solution-network-solution animate-fade solution-content solution--550908">
                  <div class="solution-content--wrapper animate-fade bottom d-1000"> <img
                      src="/assets/ourimages/Community Organizers.png" alt="Man in military gear "> </div>
                  <div class="solution-content--label animate-fade bottom d-1000">pioneering</div>
                </div>
                <div class="bl-solution-network-solution animate-fade solution-content solution--550907">
                  <div class="solution-content--wrapper animate-fade bottom d-1100"> <img
                      src="/assets/ourimages/women-unity.png"
                      alt="Group of business people talking"> </div>
                  <div class="solution-content--label animate-fade bottom d-1100">unity</div>
                </div>
                <div class="bl-solution-network-solution animate-fade solution-content solution--550906">
                  <div class="solution-content--wrapper animate-fade bottom d-1200"> <img
                      src="/assets/ourimages/women-advocacy.png"
                      alt="Two students interacting with each other"> </div>
                  <div class="solution-content--label animate-fade bottom d-1200">advocacy
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="bl-single-quad" id="_w4hhnj3qy" data-quad="quad_w4hhnj3qy">
        <div class="bl-single-quad-overlay"> 
          <!-- <img class="bl-single-quad-overlay--bg animate-fade d-800"
            src="venuelocity/media/venuelocity-meetings-bg-63effabb3f98c.svg" alt="venuelocity meetings bg"> -->
           </div>
        <div class="container">
          <div class="bl-single-quad-content">
            <article class="bl-single-quad-info">
              <h2 class="bl-single-quad-info--title animate-fade d-600"><span>women riders seek empowerment in a secure space.</span></h2>
              <figure class="bl-single-quad-info--picture animate-fade d-500">
                <div class="bl-single-quad-picture--slide" data-js-swiper="insets-gallery">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="bl-single-quad-picture--wrapper">
                         <img
                          class="slide-img bl-single-quad-picture--img animate-fade left d-600"
                          src="/assets/ourimages/41.png"
                          alt="Image 1" > </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="bl-single-quad-picture--wrapper"> <img
                          class="slide-img bl-single-quad-picture--img animate-fade left d-600"
                          src= "/assets/ourimages/43.png"
                          alt="venuelocity meetings image 02" > </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="bl-single-quad-picture--wrapper"> <img
                          class="slide-img bl-single-quad-picture--img animate-fade left d-600"
                          src="/assets/ourimages/42.png"
                          alt="venuelocity meetings image 03" > </div>
                    </div>
                  </div>
                </div>
              </figure>
              <aside class="bl-single-quad-info--text">
                <h2 class="bl-single-quad-text--title animate-fade d-600"><span>women riders seek empowerment in a secure space.</span></h2>
                <div class="bl-single-quad-text--copy animate-fade top d-800">
                  <p>women rider ensures this through secure, female-focused networks.</p>
                  <ul class="sym-inline-list">
                    <li>no ambiguous protections.</li>
                    <li>no mixed-gender interactions.</li>
                  </ul>
                  <p><span class="featured" mce-data-marked="1"></span></p>
                  <p><span class="featured" mce-data-marked="1">just clear safety.</span></p>
                </div>
              </aside>
            </article>
          </div>
        </div>
      </section>
      <section class="bl-reviews" id="_o0rbvlb2t" data-js-quad="_o0rbvlb2t">
        <div class="container">
          <div class="bl-reviews-content">
            <h2 class="bl-reviews-title animate-fade top d-500">women rider captains and passengers love the women rider experience.</h2>
            <div class="bl-reviews-quotes swiper" data-js-swiper="reviews">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <blockquote id="5007" class="bl-reviews-quotes--quote animate-fade d-400"> <span>&#65282;</span>empowerment begins with safety and trust. women rider ensures both with every ride.<span>&#65282;</span> </blockquote><cite class="bl-reviews-quotes--cite animate-fade d-600">jessica lynn </cite>
                </div>
                <div class="swiper-slide">
                  <blockquote id="5009" class="bl-reviews-quotes--quote animate-fade d-400"> <span>&#65282;</span>riding is an empowering experience for women, offering both a physical and emotional journey towards strength, freedom, and self-discovery."<span>&#65282;</span>
                  </blockquote> <cite class="bl-reviews-quotes--cite animate-fade d-600">carmen munoz </cite>
                </div>
              
                <div class="swiper-slide">
                  <blockquote id="5005" class="bl-reviews-quotes--quote animate-fade d-400"> <span>&#65282;</span>riding a motorcycle is a declaration of independence and a celebration of the strength and courage inherent in every woman."<span>&#65282;</span> </blockquote> <cite
                    class="bl-reviews-quotes--cite animate-fade d-600"> ava adams </cite>
                </div>
                
              </div>
            </div>
            <div class="bl-reviews-progress-bar animate-fade d-600"></div>
          </div>
        </div>
      </section>

      
      


    </main>




 
    <div id="footer-placeholder"></div>
    <script src="/load-dom.js"></script>

  </div> 



  </div> <!-- CLOSE START CONTENT -->
 

  <script src="https://kit.fontawesome.com/f0b97481ed.js" crossorigin="anonymous"></script>  
  <script src="assets/symphony.js?7sZEx0" type="text/javascript"></script>




  <script src="assets/scripts.js?7sZEx0" type="text/javascript"></script>

  <!-- FLASHSALE BEGIN--><!-- FLASHSALE END-->

  <noscript><iframe title="iframe_GTM" src="https://www.googletagmanager.com/ns.html?id=GTM-WGPL6599" height="0"
      width="0" style="display:none;visibility:hidden"></iframe></noscript>


  <script src="ajax/libs/vue/2.6.14/vue.min.js"></script>
  <script src="includes/symphony-components/js/v-popups.min-2.js?v2=66b9bdee75eb8" async=""></script>
  <v-popups is_live="true" brand="venuelocity" trackingtype="1" site_id="2093" site_lang="en" is_mobile=""
    filters='{"page":"group-lead-generation-for-hotels-and-resorts","id_page":78174,"subpage":null,"location":"default","geo":null}'></v-popups>


  <!-- OWNERSHIP OF WORK PRODUCT
Tambourine is the exclusive owner of all website source code and website design. 
Software tools used for website ripping, scraping and copying for the sole intent 
of removing the website from Tambourine’s proprietary platform is prohibited and 
in violation of this agreement. Any attempt to do so will be immediately reported 
and prosecuted as cyber theft to the local authorities and prosecuted to the 
fullest extent of the law.
-->

  <!-- venuelocity-asg-child-ip-172-18-171-208 -->

</body>

</html>