<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <title>Women Rider</title>  <link rel="stylesheet" media="screen" type="text/css" href="assets/symphony.css?7sZEx0">
  <link rel="stylesheet" media="screen" type="text/css" href="assets/style.css?7sZEx0">
  <script src="assets/js/jquery-3.7.0.min.js"></script>


  <script defer="" src='cscripts/zOFiUsLsWH-af8ecf90.js'></script>
  <meta name="facebook-domain-verification" content="amxivrty21k2ceu4q4or5mydf9my1m">
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-WGPL6599');</script>

  <script class="optanon-category-C0003">
    async function supportsWebp() { if (!self.createImageBitmap) return !1; const e = await fetch("data:image/webp;base64,UklGRh4AAABXRUJQVlA4TBEAAAAvAAAAAAfQ//73v/+BiOh/AAA=").then((e => e.blob())); return createImageBitmap(e).then((() => !0), (() => !1)) } function setCookie(e, t, a) { let A = new Date; A.setDate(A.getDate() + a); let n = escape(t) + (null == a ? "" : "; expires=" + A.toUTCString()); document.cookie = e + "=" + n } (async () => { null === new URLSearchParams(document.cookie.replaceAll("&", "%26").replaceAll("; ", "&")).get("ACCEPT_WEBP") && setCookie("ACCEPT_WEBP", await supportsWebp(), 30) })();
  </script>
  <script>var responsive = true;</script>
  <script type="text/javascript">
    const TEMPLATE_PAGE = 'OPTIONS_DEFAULT';
    if (history.scrollRestoration) history.scrollRestoration = 'manual'

    const TB_CONFIG_SITE_JS = {
      IS_MOBILE: 0,
    }
  </script>
</head>

<body id="default" class="privacy-policy  ">
  <div id="start-content">
    <a href="#content" class="skip-to-content" aria-label="Skip to Content">Skip to Content</a>
    <div id="cursor_2093" class="drag-cursor" data-js-cursor="x">
      <div id="cursor_2093y" class="drag-cursor-inner" data-js-cursor="y">
        <img src="venuelocity/media/drag-cursor-icon-640643d7a62be.svg" alt="Icon drag cursor"
          class="drag-cursor-image">
      </div>
    </div>

 
               
      
    <div id="header-placeholder"></div>


    <main id="content" role="main">


      <section class="intro-default">
        <div class="container">

          <article class="intro-default-content">
            <aside class="intro-default-text">
              <h1 class="intro-default-text--title animate-fade d-400">frequently asked questions </h1>

            </aside>
          </article>

        </div>
      </section>

      <section style="" class="text-modules-wrapper">
        <div class="text-modules ">
          <p></p>
          <h3>introduction</h3>
          <h3>what is women rider?</h3>
          <p>women rider is a dedicated ride-sharing platform designed exclusively for women. we connect female passengers with female drivers to ensure a secure, comfortable, and empowering transportation experience tailored specifically to women’s needs.</p>
          
          <h3>how do i book a ride with women rider?</h3>
          <p>to book a ride, download the women rider app, enter your pickup and drop-off locations, and select your ride preference. confirm your booking, and a nearby female driver will be assigned to you promptly.</p>
          
          <h3>what distinguishes women rider from other ride-sharing services?</h3>
          <p>women rider offers a unique value by exclusively pairing female passengers with female drivers, ensuring a focus on safety and empowerment. our platform emphasizes a supportive environment where women can travel with confidence and ease.</p>
          
        
          
          <h3>how does women rider ensure the safety of its users?</h3>
          <p>safety is paramount at women rider. we conduct comprehensive background checks on all female drivers and verify each ride multiple times to meet the highest standards of security. additional safety features include real-time ride tracking, an sos button, and driver ratings.</p>
          
          <h3>how can i contact women rider support?</h3>
          <p>for any inquiries or assistance, you can reach women rider support through the app or via our website’s support section. our dedicated team is available 24/7 to address any questions or issues you may encounter.</p>
          
          <h3>what should i do if i leave an item in the vehicle?</h3>
          <p>if you accidentally leave an item in a vehicle, please contact women rider support through the app or our website as soon as possible. we will assist you in coordinating with the driver to recover your belongings.</p>
      
         </div>
      </section>
    </main>



       
      
    <div id="footer-placeholder"></div>

    <script src="/load-dom.js"></script>
    
    <script src="https://kit.fontawesome.com/f0b97481ed.js" crossorigin="anonymous"></script>  


  </div> 






  </div> <!-- CLOSE START CONTENT -->
  <!-- <script>
    function submitSalesForce(data) {
      var first_name = $("input[name=first_name]").val(),
        last_name = $("input[name=last_name]").val(),
        email_address = $("input[name=email_address]").val(),
        phone = $("input[name=phone]").val(),
        company = $("input[name=company]").val(),
        position_title = $("input[name=position_title]").val(),
        comments = $("textarea[name=comments]").val(),
        campaign_id = '7015d000002GYP6',
        campaign = '';


      data = {
        "debug": 1,
        "debugEmail": 'forms@tambourine.com',
        "operation": 'salesForceLeads',
        "oid": "00Di0000000JTQg",
        "retURL": "https://www.venuelocity.com",
        "email": typeof email_address !== 'undefined' ? email_address : '',
        "first_name": typeof first_name !== 'undefined' ? first_name : '',
        "last_name": typeof last_name !== 'undefined' ? last_name : '',
        "company": typeof company !== 'undefined' ? company : '',
        "phone": typeof phone !== 'undefined' ? phone : '',
        "description": campaign,
        "00N1Y00000IyjTe": comments,
        "lead_source": "Inbound (Marketing)",
        "title": typeof position_title !== 'undefined' ? position_title : '',
        "Campaign_ID": campaign_id,
        "00N1Y00000Iz3uv": window.location.href, //Landing Page
        "00N1Y00000Iz5AL": "", //Referral
      };
      $.post(site_url + 'ajax/functions.php', data, function (response) { }, 'json')
    }
  </script> -->

  <script src="assets/symphony.js?7sZEx0" type="text/javascript"></script>




  <script src="assets/scripts.js?7sZEx0" type="text/javascript"></script>

  <!-- FLASHSALE BEGIN--><!-- FLASHSALE END-->

  <noscript><iframe title="iframe_GTM" src="https://www.googletagmanager.com/ns.html?id=GTM-WGPL6599" height="0"
      width="0" style="display:none;visibility:hidden"></iframe></noscript>


  <script src="ajax/libs/vue/2.6.14/vue.min.js"></script>
  <script src="includes/symphony-components/js/v-popups.min-6.js?v2=66b9bdf6d2e38" async=""></script>
  <v-popups is_live="true" brand="venuelocity" trackingtype="1" site_id="2093" site_lang="en" is_mobile=""
    filters='{"page":"privacy-policy","id_page":78182,"subpage":null,"location":"default","geo":null}'></v-popups>




</body>

</html>