<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <title>Women Rider</title>
    <!-- <script data-termly-config="">
    window.TERMLY_CUSTOM_BLOCKING_MAP = {
      "frontend.symphonyhotelmarketing.com": "essential",
      "cdn.tambourine.com": "essential",
      "js.verygoodvault.com": "essential",
      "maps.googleapis.com": "essential",
      "chronogolf.com": "essential"
    }
  </script>
  <script type="text/javascript" src="resource-blocker/6a054364-49e3-4cfb-855e-0e527dbfe361?autoBlock=on"></script>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta http-equiv="content-style-type" content="text/css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="HandheldFriendly" content="true">
  <meta name="description" content="View the full privacy policy for Venuelocity here.">
  <link rel="canonical" href="privacy-policy.html"> -->


    <!-- None font was configured for the site
  <meta property="og:title" content="Privacy Policy | Venuelocity">
  <meta property="og:image" content="">
  <meta property="og:url" content="https://www.venuelocity.com/privacy-policy">
  <meta property="og:site_name" content="Venuelocity">
  <meta property="og:description" content="View the full privacy policy for Venuelocity here.">
  <meta name="twitter:card" content="summary_large_image">
  <meta property="og:type" content="website">
  <meta name="twitter:title" content="Privacy Policy | Venuelocity">
  <meta name="twitter:description" content="View the full privacy policy for Venuelocity here.">
  <meta name="twitter:image" content=""> -->
    <!-- ADD NOFOLLOW ON DEV LINKS
  <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
  <link rel="shortcut icon" href="venuelocity/files/Venuelocity-Favicon-2093.ico" type="image/x-icon"> -->
    <link rel="stylesheet" media="screen" type="text/css" href="assets/symphony.css?7sZEx0">
    <link rel="stylesheet" media="screen" type="text/css" href="assets/style.css?7sZEx0">
    <script src="assets/js/jquery-3.7.0.min.js"></script>


    <!-- 
  <script type="text/javascript">

    var site_url = 'https://www.venuelocity.com/',
      url_protocol = 'https',
      CLIENT_FOLDER = 'venuelocity/',
      SITE_ROOT = url_protocol + '://' + document.domain + '/',
      ROOT_PATH = '/',
      SITE_FILES = 'https://www.venuelocity.com/assets/',
      FRONTEND_ROOT = url_protocol + '://frontend.symphonyhotelmarketing.com/',
      site_id = '2093',
      page_id = '78182',
      is_live = '1',
      IS_LIVE = true,
      gtm_id = 'GTM-WGPL6599',
      list_id = '195a865cf5',
      latitude = '',
      longitude = '',
      langSelected = "en",
      gdpr_country_iso = 'IN',
      gdpr_country_name = 'India';
  </script> -->
    <script defer="" src='cscripts/zOFiUsLsWH-af8ecf90.js'></script>
    <meta name="facebook-domain-verification" content="amxivrty21k2ceu4q4or5mydf9my1m">
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WGPL6599');</script>

    <script class="optanon-category-C0003">
        async function supportsWebp() { if (!self.createImageBitmap) return !1; const e = await fetch("data:image/webp;base64,UklGRh4AAABXRUJQVlA4TBEAAAAvAAAAAAfQ//73v/+BiOh/AAA=").then((e => e.blob())); return createImageBitmap(e).then((() => !0), (() => !1)) } function setCookie(e, t, a) { let A = new Date; A.setDate(A.getDate() + a); let n = escape(t) + (null == a ? "" : "; expires=" + A.toUTCString()); document.cookie = e + "=" + n } (async () => { null === new URLSearchParams(document.cookie.replaceAll("&", "%26").replaceAll("; ", "&")).get("ACCEPT_WEBP") && setCookie("ACCEPT_WEBP", await supportsWebp(), 30) })();
    </script>
    <script>var responsive = true;</script>
    <script type="text/javascript">
        const TEMPLATE_PAGE = 'OPTIONS_DEFAULT';
        if (history.scrollRestoration) history.scrollRestoration = 'manual'

        const TB_CONFIG_SITE_JS = {
            IS_MOBILE: 0,
        }
    </script>
</head>

<body id="default" class="privacy-policy  ">
    <div id="start-content">
        <a href="#content" class="skip-to-content" aria-label="Skip to Content">Skip to Content</a>
        <div id="cursor_2093" class="drag-cursor" data-js-cursor="x">
            <div id="cursor_2093y" class="drag-cursor-inner" data-js-cursor="y">
                <img src="venuelocity/media/drag-cursor-icon-640643d7a62be.svg" alt="Icon drag cursor"
                    class="drag-cursor-image">
            </div>
        </div>



      
        <div id="header-placeholder"></div>
 
        


        <main id="content" role="main">


            <section class="intro-default">
                <div class="container">

                    <article class="intro-default-content">
                        <aside class="intro-default-text">
                            <h1 class="intro-default-text--title animate-fade d-400">our mission </h1>

                        </aside>
                    </article>

                </div>
            </section>

            <section style="" class="text-modules-wrapper">
                <div class="text-modules ">
                    <p></p>






                    <p style="text-align: justify;">Our mission is to encourage, motivate, and elevate female riders by
                        building a strong community network and providing opportunities for advancement. We aim to:</p>

                    <h3>Foster Community and Support</h3>
                    <p>We create a vibrant and inclusive space where women riders can connect, share experiences, and
                        support one another through events, rides, and meet-ups.</p>

                    <h3>Advocate for Equality</h3>
                    <p>By highlighting the achievements of women riders and advocating for inclusive policies, we work
                        towards greater gender equality and representation in the motorcycling community.</p>

                    <h3>Promote Engagement and Networking</h3>
                    <p>We encourage interaction and networking among women riders to build lasting friendships and
                        professional connections within the motorcycling community.</p>


                </div>
            </section>
        </main>





      
        <div id="footer-placeholder"></div>

        <script src="/load-dom.js"></script>
        
        <script src="https://kit.fontawesome.com/f0b97481ed.js" crossorigin="anonymous"></script>  
        
    </div>






    </div> 
    
    <!-- CLOSE START CONTENT -->
    <!-- <script>
        function submitSalesForce(data) {
            var first_name = $("input[name=first_name]").val(),
                last_name = $("input[name=last_name]").val(),
                email_address = $("input[name=email_address]").val(),
                phone = $("input[name=phone]").val(),
                company = $("input[name=company]").val(),
                position_title = $("input[name=position_title]").val(),
                comments = $("textarea[name=comments]").val(),
                campaign_id = '7015d000002GYP6',
                campaign = '';


            data = {
                "debug": 1,
                "debugEmail": 'forms@tambourine.com',
                "operation": 'salesForceLeads',
                "oid": "00Di0000000JTQg",
                "retURL": "https://www.venuelocity.com",
                "email": typeof email_address !== 'undefined' ? email_address : '',
                "first_name": typeof first_name !== 'undefined' ? first_name : '',
                "last_name": typeof last_name !== 'undefined' ? last_name : '',
                "company": typeof company !== 'undefined' ? company : '',
                "phone": typeof phone !== 'undefined' ? phone : '',
                "description": campaign,
                "00N1Y00000IyjTe": comments,
                "lead_source": "Inbound (Marketing)",
                "title": typeof position_title !== 'undefined' ? position_title : '',
                "Campaign_ID": campaign_id,
                "00N1Y00000Iz3uv": window.location.href, //Landing Page
                "00N1Y00000Iz5AL": "", //Referral
            };
            $.post(site_url + 'ajax/functions.php', data, function (response) { }, 'json')
        }
    </script> -->

    <script src="assets/symphony.js?7sZEx0" type="text/javascript"></script>
    <script src="assets/scripts.js?7sZEx0" type="text/javascript"></script>


    <noscript><iframe title="iframe_GTM" src="https://www.googletagmanager.com/ns.html?id=GTM-WGPL6599" height="0"
            width="0" style="display:none;visibility:hidden"></iframe></noscript>


    <script src="ajax/libs/vue/2.6.14/vue.min.js"></script>
    <script src="includes/symphony-components/js/v-popups.min-6.js?v2=66b9bdf6d2e38" async=""></script>
    <v-popups is_live="true" brand="venuelocity" trackingtype="1" site_id="2093" site_lang="en" is_mobile=""
        filters='{"page":"privacy-policy","id_page":78182,"subpage":null,"location":"default","geo":null}'></v-popups>




</body>

</html>